<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<p th:text="${person.getName()}"></p>
<p th:text="${'Год рождения ' + person.getBirthYear()}"></p>

</hr>
</br>

<div th:if="${!booksByPerson.isEmpty()}">
<p>Книги:</p>
    <div th:each="book: ${booksByPerson}">
        <a th:href="@{/books/{id}(id=${book.getBookId()})}" th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', '
    + ${book.getYear()}"></a>
    </div>
</div>

<div th:if="${booksByPerson.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>

</hr>
</br>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать пользователя">
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить пользователя">
</form>
</body>
</html>